useDynLib(lgarch)
import(zoo)
export("glag", "lgarchSim", "lgarchRecursion1", "lgarchLogl", "lgarch")
S3method("coef", "lgarch")
S3method("fitted", "lgarch")
S3method("logLik", "lgarch")
S3method("print", "lgarch")
S3method("residuals", "lgarch")
S3method("vcov", "lgarch")
