useDynLib(lgarch)
import(zoo)
export("glag", "gdiff", "lgarchSim", "lgarchRecursion1", "lgarchObjective", "lgarch", "rss", "rmnorm", "mlgarchSim", "mlgarchRecursion1", "mlgarchObjective", "mlgarch")
S3method("coef", "lgarch")
S3method("fitted", "lgarch")
S3method("logLik", "lgarch")
S3method("print", "lgarch")
S3method("residuals", "lgarch")
S3method("vcov", "lgarch")
S3method("coef", "mlgarch")
S3method("fitted", "mlgarch")
S3method("logLik", "mlgarch")
S3method("print", "mlgarch")
S3method("residuals", "mlgarch")
S3method("vcov", "mlgarch")
